.counter{
    position:absolute;
    color:hsl(345, 95%, 68%);
    align-items: center;
    width: 35rem;
    top:50%;
    left:50%;
    transform: translate(-40%, -60%);
}

.timer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 2em;
}

.nums{
    position:relative;
    left:7px;
    font-size:50px;
    font-weight: 700;
}

.description{
    color: hsl(0, 0%, 100%);
    letter-spacing: 3px;
    text-transform: uppercase;
}